<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
    <hr>
    <h2>Exercises chapter 4</h2>
    
    <% @exercises.each do |key,value| %>
    <hr>
    <h3><%=key%></h3>
    <% value.each_with_index do |value,index| %>
     <h4>Exercise <%="#{index+1}"%>: <%="#{value[:ques]}"%>.</h4>
     <h6>Output: <%="#{value[:ans]}"%></h6>
    <%end%>
    <%end%>
</p>