<% provide(:title, t(:home) ) %>
<div class="container">
  <div class="card home-card">
    <div class="card-body">
      <h4 class="card-title"><%= t :welcome %></h4>
      <h5 class="card-text"><%= t :tx_sample %><a href="https://www.railstutorial.org/"> <%= t :tx2 %></a></h5>
      <%= link_to t(:tx_signup), signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
