<p><%= "#{t("email.password_reset_email_tx1")}:" %></p>
<%= link_to t("email.password_reset_tit"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<p><%= t("email.password_reset_email_tx2") %></p>
