$back-ground: #ECECEC;
$dark-blue: darkblue;
$footer-bg-color: rgba(0, 0, 0, 0.2);
.home-card{
    background-color:$back-ground; 
    border-color:$dark-blue;
    margin-top:100px; 
    text-align: center;
 }
 .footer{
     background-color: $footer-bg-color;
 }
